notebooks/figures/*
notebooks/figures
R/.ipynb_checkpoints/*
R/.ipynb_checkpoints
notebooks/.ipynb_checkpoints
notebooks/.ipynb_checkpoints/*
pre-built_references/.ipynb_checkpoints
.ipynb_checkpoints/
*.DS_Store*
runtime/.ipynb_checkpoints
._.DS_Store 
.DS_Store
.ipynb_checkpoints
pbmcs_10x/results/pbmcs_10x_init.rds
seurat_compatibility/cache_*
fetal_liver/results 
._*.py
